

/* Fixed Values */

* { 
    margin: 0;
    padding: 0;
    font-family: monospace;
}

html {
    background: #000;
    height: 100%;
    display: grid;

}


body {
    max-width: 85%;
    margin: auto;
}

.lightmode {
    background: #fff;
    height: 100%;
    display: grid;

}

.darkmode {
    background: #000;
    height: 100%;
    display: grid;

}


a {
    color: #000;
    text-decoration: none;
    font-weight: 800;
}




/* Other Values */


.calculator-app {
    margin: 50px;
    background: #ececec;
    border-radius: 0px;
    padding: 60px;
}

h3 {
    font-size: 30px;
    margin-right: 25px;
    margin-left: 25px;
}



#ggle-icon {
    font-size: 40px;
    position: relative;
    bottom: -11px;
    margin-right: 7px;
}

.switch-mode {
    position: fixed;
    top: 20px;
    left: 20px;
}

span#gicons {
    background: #ebebeb;
    border-radius: 400px;
    padding: 7px;
    cursor: pointer;
}


.lightmode * .calculator-app {
    box-shadow: none;
}


h1.mycalch1 {
    font-family: monospace;
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}

p.mycalch1 {
    font-family: monospace;
    margin-top: 10px;
    max-width: 100%;
    text-align: center;
    margin: auto;
}

button.btn {
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.7s;
}

.calculator {
    background: #d5d5d547;
    max-width: max-content;
    padding: 15px 30px;
    border-radius: 82px;
    margin: auto;
}

input#firstNumber {
    border: solid 1px #818181;
    background: #0000;
    padding: 4px 15px;
    border-radius: 50px;
}

input#secondNumber {
    border: solid 1px #818181;
    background: #0000;
    padding: 4px 15px;
    border-radius: 50px;
}

button.btn {
    background: #c2c2c285;
    padding: 10px 25px;
    border-radius: 7px;
    border: 0;
}

input#result {
    margin-top: 50px;
    margin-bottom: 15px;
    
}

button#hideif {
    width: 100%;
}

.powerewd {
    color: #373837;
    margin: 40px;
    border-radius: 50px;
    padding: 0px 50px;
    padding-right: 15px !important;
    display: flex;
    align-items: center;
    gap: 5px;
    position: fixed;
    width: 100%;
    right: 0;
    justify-content: flex-end;
    bottom: 0;
}

img.sprints-logo {
    max-width: 90px;
    filter: grayscale(1);
}

input#result {
    margin-top: 50px;
    margin-bottom: 15px;
    padding: 10px;
    background: #000;
    color: #00ff45;
    font-weight: 900;
    border: 0;
    border-radius: 8px;
    text-align: center;
    width: 100%;
}


span#pre {
    font-family: monospace;
}

.calculator {
    display: flex;
    gap: 7px;
    align-items: center;
}



/* Animation */
/* I will try to describe it for sprinters*/


@property --angle {
syntax: '<angle>';
initial-value: 90deg;
inherits: true;
}

@property --gradX {
syntax: '<percentage>';
initial-value: 50%;
inherits: true;
}

@property --gradY {
syntax: '<percentage>';
initial-value: 0%;
inherits: true;
}


:root {
    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(168, 239, 255, 0.1);
}


.calculator-app {
    border: 0.55rem solid;
    /* Please note that i used here A conic gradient "CONE" which is a gradient with color transitions rotated around a center point. */
    border-image: conic-gradient(
    from 
    var(--angle),/*By default,angle is 0deg starting point and position in center by defult*/
    rgb(0 239 69),/*First Color to move*/
    rgb(0 239 69),/*Another Color*/
    rgb(0 239 69),/*Another Color to move*/
    #0000 0.1turn)/*Border color with turn which have a 1 maximum value which represent the hollow area*/
    30; /**/
    
    animation: borderRotate var(--d) linear infinite forwards;
    box-shadow: 0 3px 100px 20px rgb(0 239 69 / 15%);
}


@keyframes borderRotate {
    100% {
        --angle: 420deg;
    }
}





/* media query */

@media only screen and (max-width: 900px) {
    .calculator {
        max-width: 100%;
        background: #0000;
    }

    .calculator {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        gap: 0;
    }

    .powerewd {
        margin: 0;
        padding: 0 !important;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        justify-items: center;
        bottom: 50px;
        position: inherit;
        margin-top: 50px;
    }

    body {
        padding: 80px 0px;
    }

    input#firstNumber {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    input#secondNumber {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    span#pre {
        display: none;
    }

    .calculator-app {
        margin: 0;
        background: #ececec;
        border-radius: 0px;
        padding: 30px;
    }



    h3 {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 50px;
}

p.mycalch1 {
    max-width: 100%;
}

    .input-group-prepend {
        text-align: center;
    }

    h1.mycalch1 {
        font-size: 25px;
    }



    
}